<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="gameContent">
            <form action="/games" method="POST">
                <h2>Games: </h2>
            <% if (theGames.length > 0) { %>
                <% theGames.forEach(game => { %>
                    <div class="gameSection">
                    <b class="gameInfo"><%= game.game_name %> &nbsp; <%= game.developer%></b>
                    <a class="actionLink" href="/games/<%=game.game_id%>/edit?gameName=<%=game.gameName%>&developer=<%=game.developer%>">edit</a>
                    <a class="actionLink" href="/games/<%=game.game_id%>/delete?gameName=<%=game.game_name%>&developer=<%=game.developer%>">delete</a>
                    <a class="actionLink" href="/games/<%=game.game_id%>/replace?gameName=<%=game.game_name%>&developer=<%=game.developer%>">replace</a></br> </div>
                    <% }) %>
            <% } %>
            </br><label>Add Game:</label></br><br>
            <label>ID:
                <input type="number" id="game_id" name="game_id" value="<%= locals.game_id %>" required>
            </label>
            <label>Name:
                <input type="text" id="game_name" name="game_name" value="<%= locals.game_name %>" required>
            </label>
            <label>Developer:
                <input type="text" id="developer" name="developer" value="<%= locals.developer %>" required>
            </label>
            <label>Release Date:
                <input type="date" id="release_date" name="release_date" value="<%= locals.release_date %>" required>
            </label>
            <label>Genre:
                <input type="text" id="genre" name="genre" value="<%= locals.genre %>" required>
            </label>
            <button class="postBtn">POST</button>
        </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>